<footer>
    <!-- <div style="background-color: rgb(218, 219, 246);"> -->
    <div class="container-fluid p-5 bg-info text-white text-center" id="section3">
      <div class="container mt-6">
        <div class="row footer">
          <div class="col-sm-4">
            <h3>Menu</h3>
            <p>Home</p>
            <p>Shop</p>
            <p>About Us</p>
            <p>Contact Us</p>
          </div>
          <div class="col-sm-2">
            <h3>Categories</h3>
            <p>Casual</p>
            <p>Work & Office</p>
            <p>Active Wear</p>
            <p>Evening Dresses</p>
          </div>
          <div class="col-sm-2">
            <h3>Resources</h3>
            <p>Contact Support</p>
            <p>FAQ</p>
            <p>Live Chat</p>
            <p>Returns</p>
          </div>
          <div class="col-sm-4">
            <h3>Social Media</h3>        
            <p>Pinterest</p>
            <p>Vomio</p>
            <p>Twitter</p>
          </div>
        </div>
        
      </div> 
    </div>
<!-- </div> -->
  </footer>

